main{
    margin: 0 30px 30px;
}

.impressum-headline{
    margin-top: 60px;
}

.impressum-headline h3{
    font-size: 36px;
    font-weight: 800;
}

.impressum-content h4, .legal-content h4{
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 0 16px;
}

.impressum-content p, .legal-content p{
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.3;
}

.impressum-content span{
    font-weight: 500;
}

/*===============================================================
                          Desktop
===============================================================*/

@media (min-width: 992px) {

    .impressum-headline h3{
        font-size: 50px;
        font-weight: 800;
    }

    .impressum-content h4, .legal-content h4{
        font-size: 1.3em;
    }
}