* {
    box-sizing: border-box; }

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body{
    background-color: unset;
}
header{
    background-color: #020a17;
}

.project-step {
    /*border-bottom: 1px solid white;*/
    padding: 1rem;
    height: 115vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.project-step-s{
    /*border-bottom: 1px solid white;*/
    padding: 1rem;
    height: 80vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.project-step-l {
    /*border-bottom: 1px solid white;*/
    padding: 1rem;
    height: 125vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.bg-grey{
    background-color: rgb(2, 10, 23, 0.85);
}

.bg-black{
    background-color: #020a17;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw); }

#projectdetails{
    margin: 10px 0;
}

.project-taks{
    padding-top: 10px;
    padding-bottom: 20px;
}

.project-taks img{
    width: 100%;
    max-width: 50px;
    padding-right: 8px;
    padding-bottom: 12px;
}

.main-txt{
    margin: 100px 30px 10px;
}

.main-txt p{
    padding-top: 40px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.main-txt h3{
    font-size: 1em;
    font-weight: 300;
    padding-top: 8px;
    text-align: center;
}

.step h5, h3, p{
    text-align: left;
}

.step h5{
    font-weight: 300;
    font-size: 0.9em;
    padding-top: 30px;
}

.step h3{
    font-weight: 700;
    font-size: 1.6em;
    color: orange;
}

.step p{
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 10px;
}

.step-a4 img{
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    border-radius: 7px;
}

.step-16-9 img{
    width: 100%;
    max-width: 350px;
    padding-top: 30px;
    border-radius: 7px;
}

@media (min-width: 992px){

    .step{
        margin-top: 200px;
    }

    .step-a4{
        margin-top: 200px;
    }

    .step-a4 img{
         margin-top: 0;
         max-width: 360px;
     }

    .step-16-9 img{
        margin-top: 0;
        max-width: 490px;
        margin: 0 16px;
    }


}